# Node modules (we'll install these in the container)
node_modules

# Logs
*.log
logs/
*.log.*

# Debugging/Temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE specific files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Docker files (can be ignored if you don't need them in your container)
Dockerfile*
docker-compose.yml

# Test and coverage files
test/
tests/
coverage/

# Build or dist directories
dist/
build/
out/

# Environment variables file (to avoid exposing sensitive data)
.env
.env.local
.env.*.local

# Miscellaneous
.vscode/
.idea/
*.md
